/*
** overlay mixin
*/
/*
** prefixer mixin
*/
/*
** Animation and Prefixer mixin
*/
/*
** opacity mixin
*/
/* mixin definition ; sets LTR and RTL within the same style call */
/* mixin definition ; sets LTR and RTL within the same style call */
/*global Rules*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

@media screen and (min-width: 992px) {
  body {
    cursor: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  text-transform: capitalize;
  margin: 0;
}

h2 {
  text-transform: capitalize;
  margin: 0;
}

h3 {
  text-transform: capitalize;
  margin: 0;
}

h4 {
  text-transform: capitalize;
  margin: 0;
}

h5 {
  text-transform: capitalize;
  margin: 0;
}

h6 {
  text-transform: capitalize;
  margin: 0;
}

p {
  margin: 0;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.item-clickable {
  position: relative;
}

.clickable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ratio-container {
  position: relative;
}

.ratio-container .ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ratio-container .ratio-content img {
  max-width: 100%;
}

.black-bold {
  color: #000;
  font-weight: bold;
}

.section-heading {
  margin-bottom: 65px;
}

@media screen and (max-width: 991.98px) {
  .section-heading {
    text-align: center;
  }
}

.section-heading .section-title {
  display: inline-block;
  font-size: 42px;
  color: #000;
  font-weight: bold;
  position: relative;
}

.section-heading .section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 153, 255, 0.3);
}

@media screen and (max-width: 767.98px) {
  .section-heading .section-title {
    font-size: 26px;
  }
}

.paragraph {
  color: #999;
}

/* Cursor */
@media screen and (max-width: 991.98px) {
  .cursor {
    display: none;
  }
}

.cursor .cursor__inner {
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  border-radius: 50%;
}

.cursor .cursor__inner.cursor__inner--dot {
  width: 6px;
  height: 6px;
  background: #fff;
}

.cursor .cursor__inner.cursor__inner--circle {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}

/* Cursor */
/*global Rules*/
/*Slider Reset*/
/*Style The Slider*/
/*Slider Reset*/
/*Form Reset*/
/*Form Reset*/
/* Animation */
@-webkit-keyframes upDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes upDown {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* Animation */
/* Header*/
header {
  position: fixed;
  z-index: 9999;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

header.sticky {
  -webkit-box-shadow: 1px 2px 4px 5px #0000003d;
          box-shadow: 1px 2px 4px 5px #0000003d;
  -webkit-animation: slideDown 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          animation: slideDown 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .logo a {
  font-size: 26px;
  text-transform: capitalize;
  color: #000;
}

header .wrapper .show-menu-btn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  header .wrapper .show-menu-btn {
    display: none;
  }
}

header .wrapper .show-menu-btn:hover span::before {
  width: 100%;
}

header .wrapper .show-menu-btn:hover span::after {
  width: 100%;
}

header .wrapper .show-menu-btn span {
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 8px;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .wrapper .show-menu-btn span::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 0;
  width: 50%;
  height: 4px;
  background-color: #000;
  border-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .wrapper .show-menu-btn span::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  width: 50%;
  height: 4px;
  background-color: #000;
  border-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .wrapper .hide-menu-btn {
  position: absolute;
  top: 40px;
  right: 60px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
  header .wrapper .hide-menu-btn {
    display: none;
  }
}

header .wrapper .hide-menu-btn:hover {
  color: #0099ff;
}

header .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper nav .links {
  margin-right: 30px;
}

header .wrapper nav .links li {
  display: inline-block;
  margin-right: 30px;
}

header .wrapper nav .links li:last-child {
  margin-right: 0;
}

header .wrapper nav .links li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000;
  text-transform: capitalize;
  position: relative;
}

header .wrapper nav .links li a:hover::after, header .wrapper nav .links li a.active::after {
  width: 100%;
}

header .wrapper nav .links li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 153, 255, 0.3);
}

@media screen and (max-width: 991.98px) {
  header .wrapper nav {
    display: none;
  }
}

header .wrapper .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}

header .wrapper .mobile-menu.active {
  visibility: visible;
  opacity: 1;
}

header .wrapper .mobile-menu .links {
  text-align: center;
}

header .wrapper .mobile-menu .links li {
  display: block;
  padding: 10px 0;
}

header .wrapper .mobile-menu .links li a {
  display: inline-block;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
}

header .wrapper .mobile-menu .links li a:hover, header .wrapper .mobile-menu .links li a.active {
  color: #0099ff;
}

header .wrapper .mobile-menu .links li a:hover::after, header .wrapper .mobile-menu .links li a.active::after {
  width: 100%;
}

header .wrapper .mobile-menu .links li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: #0099ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 992px) {
  header .wrapper .mobile-menu {
    display: none;
  }
}

header .progress {
  width: 100%;
  height: 5px;
  background: white;
  z-index: 1;
}

header .progress .bar {
  height: 100%;
  width: 10%;
  background: #0099ff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/*HEADER */
.intro {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .intro {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
  }
}

.intro .info {
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .intro .info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.intro .info .pre-name {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 400;
  color: #0099ff;
  text-transform: capitalize;
}

.intro .info .name {
  font-size: 47px;
  line-height: 1.5;
  font-weight: 400;
  color: #0099ff;
  text-transform: capitalize;
}

.intro .info .desc {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: #808080db;
  padding-top: 12px;
  text-transform: capitalize;
  margin-bottom: 45px;
}

@media screen and (min-width: 992px) {
  .intro .info .desc {
    margin-bottom: 27px;
  }
}

.intro .info .desc span {
  font-weight: bold;
}

@media screen and (max-width: 991.98px) {
  .intro .info .btn {
    margin: 0 auto;
  }
}

.intro .mockup svg {
  max-width: 100%;
}

.intro .more {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  bottom: 30px;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: transparent #0099ff #0099ff transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-animation: upDown 2s infinite ease-in-out;
          animation: upDown 2s infinite ease-in-out;
}

.about .top svg {
  vertical-align: middle;
}

.about .center {
  background-color: #0099ff;
}

@media screen and (max-width: 991.98px) {
  .about .center {
    padding: 25px 0;
  }
}

.about .center .avatar {
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  max-width: 370px;
  height: 370px;
}

@media screen and (max-width: 991.98px) {
  .about .center .avatar {
    margin: 0 auto 70px;
  }
}

.about .center .avatar img {
  max-width: 100%;
}

.about .center .presentation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .center .presentation p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
  text-transform: capitalize;
}

@media screen and (max-width: 991.98px) {
  .about .center .presentation p {
    text-align: center;
  }
}

.skills {
  padding: 80px 0 40px;
}

@media screen and (min-width: 768px) {
  .skills .skills-group {
    width: 50%;
    margin: 0 auto;
  }
}

.skills .skills-group .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.skills .skills-group .skill:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skills .skills-group .skill img {
  width: 50px;
  height: 50px;
  max-width: 100%;
}

.skills .skills-group .skill span {
  text-align: center;
  background: rgba(0, 153, 255, 0.5);
  color: #fff;
  padding: 6px;
  border-radius: 8px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.skills .skills-group .skill span::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5px;
  background: #333;
}

.works {
  padding: 10px 0 50px;
}

.works .showcases-container {
  position: relative;
}

.works .showcases-container .swiper-button-next, .works .showcases-container .swiper-button-prev {
  color: #0099ff;
  outline: none;
}

.works .showcases-container .swiper-button-next, .works .showcases-container .swiper-container-rtl .swiper-button-prev {
  display: none;
}

@media screen and (min-width: 992px) {
  .works .showcases-container .swiper-button-next, .works .showcases-container .swiper-container-rtl .swiper-button-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 3%;
  }
}

.works .showcases-container .swiper-button-prev, .works .showcases-container .swiper-container-rtl .swiper-button-next {
  display: none;
}

@media screen and (min-width: 992px) {
  .works .showcases-container .swiper-button-prev, .works .showcases-container .swiper-container-rtl .swiper-button-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 3%;
  }
}

.works .showcases-container .showcases {
  padding: 30px 0;
}

@media screen and (max-width: 767.98px) {
  .works .showcases-container .showcases {
    padding: 30px;
  }
}

.works .showcases-container .showcases .showcase {
  max-width: 370px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 3px 2px #0000003d;
          box-shadow: 0px 2px 3px 2px #0000003d;
}

@media screen and (max-width: 767.98px) {
  .works .showcases-container .showcases .showcase {
    padding: 5%;
  }
}

.works .showcases-container .showcases .showcase .showcase-img img {
  max-width: 100%;
}

.works .showcases-container .showcases .showcase .showcase-content {
  padding: 20px 0;
  text-align: center;
}

.works .showcases-container .showcases .showcase .showcase-content h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.works .showcases-container .showcases .showcase .showcase-content .showcase-link {
  color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.works .showcases-container .showcases .showcase .showcase-content .showcase-link:hover {
  color: #0099ff;
}

.contact .top svg {
  vertical-align: middle;
}

.contact .bottom {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #0099ff;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .contact .bottom {
    padding-top: 0;
  }
}

.contact .bottom .heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

@media screen and (max-width: 767.98px) {
  .contact .bottom .heading {
    font-size: 26px;
  }
}

.contact .bottom .social ul li {
  display: inline-block;
}

.contact .bottom .social ul li a {
  padding: 0 10px;
  color: #fff;
  font-size: 18px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contact .bottom .social ul li a:hover {
  color: #000;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  height: 45px;
  width: 170px;
  border-radius: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #0099ff;
  color: #fff;
  text-transform: capitalize;
}

.btn::after {
  content: unset;
}

.btn:hover {
  background-color: #000;
}

/*Main*/
main {
  background-color: #fff;
}

footer {
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #808080db;
  text-transform: capitalize;
}

footer p i {
  color: red;
}
/*# sourceMappingURL=homepage.css.map */