$mainColor: #0099ff;
$colorBody: #808080db;
$font-body: 'Open Sans', sans-serif;;

$maxSmall: "screen and (max-width:767.98px)";
$minTablet: "screen and (min-width:768px)";
$maxTablet: "screen and (max-width:991.98px)";
$minLarge:  "screen and (min-width:992px)";
$maxLarge: "screen and (max-width:1199.98px)";
$minXlarge:  "screen and (min-width:1200px)";
