.intro{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
    @media #{$minLarge} {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
    }
    .info{
        margin-bottom: 50px;
        @media screen and (min-width: 992px) {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0;
        }
        .pre-name{
            display: flex;
            align-items: center;
            font-size: 26px;
            line-height: 1.5;
            font-weight: 400;
            color: $mainColor;
            text-transform: capitalize;
            span {
                animation: wave 1.8s ease-in-out infinite;
                transform-origin: 70% 70%;
                img {
                    display: inline-block;;
                    width: 40px;
                    height: 40px;
                    margin: 0 10px;
                }
            }
        }
        .name{
            font-size: 47px;
            line-height: 1.5;
            font-weight: 400;
            color: $mainColor;
            text-transform: capitalize;
        }
        .desc{
            font-weight: 400;
            line-height: 1.5;
            font-size: 20px;
            color: $colorBody;
            padding-top: 12px;
            text-transform: capitalize;
            margin-bottom: 45px;
            @media #{$minLarge} {
                margin-bottom: 27px;
            }
            span{
                font-weight: bold;
            }
        }
        .btn{
            @media #{$maxTablet} {
                margin: 0 auto;
            }
        }
    }
    .mockup{
        svg{
            max-width: 100%;
        }
    }
    .more{
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        bottom: 30px;
        width: 15px;
        height: 15px;
        border-style: solid;
        border-width: 3px;
        border-color: transparent $mainColor $mainColor transparent;
        transition: 0.5s;
        cursor: pointer;
        animation: upDown 2s infinite ease-in-out;
    }
}
@include keyFrame(wave) {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(12deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}